{ 
  "sastoken": "https://somestorage.blob.core.windows.net/config/settings.json?st=2019-05-31T15%3A37%3A19Z&se=2019-06-01T15%3A37%3A19Z&sp=rl&sv=2018-03-28&sr=b&sig=UqSbphncWziLqaweWQEWERmkpfKzt%2FcU2joIKgyjjnHFI%3D",
  "ConnectionStrings": {
    "LocalConnectionString": "Data Source=(LocalDb)\\MSDB;User ID=user;Password=secret123;DbFilename=aspcore-local.mdf;"
  }
}